<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div
  class="justify-content-center text-center h-fit pb-4 bg-gray-300 rounded-md"
>
  <form (ngSubmit)="onSubmit()" class="max-w-lg mx-auto">
    <div class="my-4">
      <label for="labelNameInput" class="block text-gray-500 mb-2"
        >Namn på config:</label
      >
      <input
        id="labelNameInput"
        type="text"
        [(ngModel)]="labelName"
        name="labelName"
        class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
      />
    </div>

    <div class="my-4">
      <label for="inputTypeSelect" class="block text-gray-500 mb-2">Typ:</label>
      <select
        id="inputTypeSelect"
        [(ngModel)]="inputType"
        name="inputType"
        class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
      >
        <option value="Text">Text</option>
        <option value="Number">Number</option>
        <option value="checkbox">Checkbox</option>
        <option value="Select">Select</option>
      </select>
    </div>

    <div *ngIf="inputType === 'Select'" class="my-4">
      <input
        type="text"
        id="inputSelectOp1"
        [(ngModel)]="selectOption1"
        name="selectOption1"
        class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
      />
      <input
        type="text"
        id="inputSelectOp2"
        [(ngModel)]="selectOption2"
        name="selectOption2"
        class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
      />
      <input
        type="text"
        id="inputSelectOp3"
        [(ngModel)]="selectOption3"
        name="selectOption3"
        class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
      />
    </div>

    <div class="my-4 flex justify-center">
      <button
        type="submit"
        class="px-4 py-2 bg-orange-500 text-white rounded hover:bg-orange-600 transition duration-200"
      >
        Add Input
      </button>
      <label for="xmlFileInput" class="block text-red-500 mb-2"
        >Ladda upp XML-fil:</label
      >
      <input
        type="file"
        id="xmlFileInput"
        (change)="onFileSelected($event); onSubmit()"
        accept=".xml"
      />
    </div>
  </form>
</div>

<div class="bg-gradient-to-t from-orange-400 rounded-md h-16 pt-3">
  <!-- Open XML button -->
  <button
    type="button"
    class="bg-orange-500 rounded-md p-2 ml-2 text-white hover:bg-orange-600"
    (click)="openXmlModal()"
  >
    Visa XML
  </button>
  <!-- <button
    (click)="onSaveSettings(); onUploadXmlFile()"
    class="bg-orange-500 rounded-md p-2 mr-2 ml-2 text-white hover:bg-orange-600"
  >
    Ladda Upp
  </button> -->
  <button
    type="button"
    class="bg-orange-500 rounded-md p-2 mr-2 text-white hover:bg-orange-600"
    (click)="onSaveXmlFile()"
  >
      Spara XML Lokalt
  </button>

  <button
    type="button"
    class="bg-orange-500 rounded-md p-2 mr-2 text-white hover:bg-orange-600"
    (click)="oFileUploaded()"
  >
          Post Uploaded File 
  </button>

  <button
    (click)="onClearConfig(); onClearList()"
    class="bg-orange-500 rounded-md p-2 text-white hover:bg-orange-600"
  >
    Rensa Lista
  </button>
</div>
<ul class="list-group bg-gray-300 justify-content-between rounded-md">
  <div class="container p-4">
    <li
      *ngFor="let input of inputs; let i = index"
      class="bg-gray-400 rounded-md max-w-xl my-2 ml-6 p-1"
    >
      <label class="mr-3 text-white">{{ input.labelName }}</label>
      <!-- 
        INPUT 
      -->
      <ng-container *ngIf="!input.editing">
        <ng-container *ngIf="input.inputType === 'Text'" class="col-span-2">
          <input
            type="text"
            class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
            [(ngModel)]="input.value"
          />
        </ng-container>
        <ng-container
          *ngIf="input.inputType === 'Number'"
          class="col-span-2 bg-white"
        >
          <input
            type="number"
            class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none"
            [(ngModel)]="input.value"
          />
        </ng-container>
        <ng-container *ngIf="input.inputType === 'checkbox'" class="col-span-2">
          <div class="form-check">
            <input
              type="checkbox"
              class="px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
              [(ngModel)]="input.value"
            />
            <label class="form-check-label"></label>
          </div>
        </ng-container>
        <ng-container *ngIf="input.inputType === 'Select'" class="col-span-2">
          <select
            class="w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
            [(ngModel)]="input.value"
          >
            <option>{{ input.selectOption1 }}</option>
            <option>{{ input.selectOption2 }}</option>
            <option>{{ input.selectOption3 }}</option>
          </select>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="input.editing">
        <div class="input-group mt-2 col-xs-5">
          <div>
            <label for="" class="text-white">Typ:</label>
            <select
              [(ngModel)]="input.inputType"
              class="ml-3 w-60 h-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
              [(ngModel)]="input.value"
            >
              <option value="Text">Text</option>
              <option value="Number">Number</option>
              <option value="checkbox">Checkbox</option>
              <option value="Select">Select</option>
            </select>
          </div>
          <label for="" class="text-white">Namn:</label>
          <input
            [(ngModel)]="input.labelName"
            [(ngModel)]="input.value"
            class="ml-3 w-60 h-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
          />
          <div *ngIf="input.inputType === 'Select'">
            <label for="" class="text-white">Val:</label>
            <input
              type="text"
              id="inputSelectOp1"
              [(ngModel)]="input.selectOption1"
              name="selectOption1"
              class="ml-3 w-60 h-10 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
            />
            <input
              type="text"
              id="inputSelectOp2"
              [(ngModel)]="input.selectOption2"
              name="selectOption2"
              class="ml-3 w-60 h-10 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
            />
            <input
              type="text"
              id="inputSelectOp3"
              [(ngModel)]="input.selectOption3"
              name="selectOption3"
              class="ml-3 w-60 h-10 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-gray-500 focus:shadow-outline-red"
            />
          </div>

          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="onUpdateInput(i)"
            >
              Save
            </button>
          </div>
        </div>
      </ng-container>
      <!-- 
        BUTTON GROUP
       -->
      <div *ngIf="!input.editing">
        <!-- SAVE BUTTON -->
        <div
          *ngIf="input.editing"
          class="float: left; border: 1px solid; width: 227px; height: 50px;"
        >
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="onUpdateInput(i)"
          >
            Save
          </button>
        </div>
        <!-- 
          EDIT/DELETE BUTTON GROUP
         -->
        <div>
          <button
            class="bg-orange-500 hover:bg-orange-600 rounded-md p-1 text-white mr-2"
            type="button"
            (click)="onEditInput(i)"
          >
            Redigera
          </button>

          <button
            type="button"
            class="bg-orange-500 hover:bg-orange-600 rounded-md p-1 w-20 text-white"
            (click)="onDeleteInput(i)"
          >
            Ta bort
          </button>
        </div>
        <!-- 
          EDIT/DELETE BUTTON GROUP
         -->
      </div>
    </li>
  </div>
</ul>

<!-- Modal for XML file -->
<div class="modal" tabindex="-1" role="dialog" id="xml-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">XML File</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea
          id="xml-textarea"
          class="form-control xml-textarea-height"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="border rounded-md bg-orange-500 p-2 text-white"
          data-dismiss="modal"
        >
          Klar
        </button>
      </div>
    </div>
  </div>
</div>
